{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Listagem de Noticias{% endblock %}
{% block content %}
  {% bootstrap_messages %}
  <ul class="list-group list-group-flush">
    {% for noticia in page_obj %}
    <li class="list-group-item">     
      <a href="{% url 'detalhar-noticia' noticias.id %}">{{noticias.titulo}}</a></li>
    {% endfor %}
  </ul>

  <div class="pagination my-5">
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; Primeira</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            </li>
        {% endif %}

      </ul>
  </div>
  <a class="btn btn-primary" href="{% url 'cadastrar-noticia' %}" role="button">Cadastrar noticia</a>
{% endblock %}