{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Listagem de Autores{% endblock %}
{% block content %}
  <ul class="list-group list-group-flush">
    {% for autor in page_obj %}
    <li class="list-group-item">
      {% if autor.avatar %}
      <img src="{{ autor.avatar.url }}" alt="" width="60">
      {% else %}
      <img src="https://cdn.pixabay.com/photo/2016/09/01/08/24/smiley-1635449_1280.png" alt="" width="60">
      {% endif %}      
      <a href="{% url 'detalhar-autor' autor.id %}">{{autor.nome}}</a></li>
    {% endfor %}
  </ul>

  <div class="pagination my-5">
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; Primeira</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            </li>
        {% endif %}

      </ul>
  </div>


  {% if perms.noticia.add_autor %}
  <a class="btn btn-primary" href="{% url 'cadastrar-autor' %}" role="button">Cadastrar Autor</a>
  {% endif %}
{% endblock %}